doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Adding a New Movie
    body 
        h1 Add a New Movie
        form(action="/", method="POST")
            label(for="title") Movie Title
            input(type="text", name="title")
            label(for="movieYear") Movie Year
            input(type="number", name="releaseYear")
            button(type="submit") Add Movie
        a(href="/") Back to Home